/* font start */
/* font 1 */
@font-face{
    font-family: 'Rubik_Glitch';
    src: url('fonts/Rubik_Glitch/RubikGlitch-Regular.ttf')
}

/* font 2.1 */
@font-face {
    font-family: 'Poppinsb';
    src: url('fonts/Poppins/Poppins-Black.ttf');
}

/* font 2.2 */
@font-face {
    font-family: 'Poppinsr';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

header,
p.title,
.card h3,
.centerf .column ul li,
.h2-u {
    font-family: 'Poppinsb';
}

.box,
.card p,
.card button,
.isi-u,
footer {
    font-family: 'Poppinsr';
}

h1{
    font-family: 'Rubik_Glitch';
}
/* font end*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 100px;
}

/* header */
header{
    background-color: #FF0088;
    font-size: 48;
    padding: 15px 0;
}

ul, li{
    display: inline-block;
    padding-top: 2px;
    margin-top: 5px;
}

.head{
    color: #fff;
}

li {
    margin-left: 35px;
    cursor: pointer;
}

li:hover {
    color: #000;
    background-color: #FF0088;
    svg {
        fill: #000;
    }
}

li>svg{
    width: 20px;
    fill:#fff;
}

.imgh {
    width: 50px;
}

.imgh:hover {
    opacity: .9;
    cursor: pointer;
}

ul li span {
    position: relative;
    margin-left: 10px;
    font-weight: bold;
    bottom: 4px;
}
/* end header */

/* content 1 */
.box{
    background-color: #202020;
    height: 400px;
    color: #fff;
    padding: 100px 0;   
}

p.title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

p.isi {
    width: 460px;
    font-size: 19px;
    margin-bottom: 10px;
}

.column .button {
    display: inline-block;
}

.button button {
    padding: 10px 10px;
    color: white;
    font-weight: bold;
    font-size: 19px;
}

.button .btn1 {
    background-color: #FF0088;
    border-radius: 10px;
    border: 1px solid #FF0088;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button .btn1:hover,
.button .btn2:hover {
    cursor: pointer;
    background-color: #FF0088;
    color: #000;
}

.button .btn2 {
    background-color: #000;
    border-radius: 10px;
    border: 1px solid #FF0088;
}

.box-img img {
    width: 450px;
    position: absolute;
    bottom: 40px;
    right: 200px;
}
/* end content 1 */

/* content 2 */
.center {
    justify-content: space-between;
}

.centerf {
    justify-content: center;
}

.mcontent {
    margin-top: 20px;
}

.card{
    width: 350px;
    border: 1px solid #FF0088;
    padding: 20px 20px 50px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #FF0088;
    color: white;    
}

.image{
    background-color: white;
    height: 150px;
    line-height: 150px;
    font-size: 72px;
    font-family: 'Rubik_Glitch';
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    color: black;
}

.page {
    padding: 5px 15px;
    border-radius: 50%;
    background-color: gray;
    font-size: 20px;
    user-select: none;
}

.page:hover {
    color: #fff;
}

.active {
    background-color: #FF0088;
    color: white;
}

.centerf .column ul li {    
    margin: 10px 2px;
}

.card p {
 text-align: justify;
 font-size: 14px;
 margin-bottom: 20px;
}

.card h3 {
    margin: 10px 0;
}

.card .sml {
    font-size: 45px;
}

.card button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid #fff;
     background-color: #000;
     color: #fff;
}

.card button:hover {
    cursor: pointer;
    background-color: #FF0088;
    color: #000;
}

.h2-u {
    font-size: 35px;
    color: #FF0088;
}

.baca {
    display: block;
    margin: 10px 0;
    font-family: 'Poppinsb';
}

.apa {
    font-size: 23px;
    font-family: 'Poppinsb';
}

.newsletter h3 {
    font-family: 'Poppinsb';
    text-align: center;
    color: #FF0088;
}

.n-span {
    display: block;
    text-align: center;
    font-family: 'Poppinsb';
    font-size: 20px;
    margin: 15px 0;
}

.n-span2,
.n-span3 {
    display: block;
    text-align: center;
    font-family: 'Poppinsb';
    color: gray;
}
.button-n {
    display: inline-block;
    margin: 15px auto 5px;
}
.subscribe {
    font-family: 'Poppinsb';
    text-align: center;
    color: white;
    background-color: #FF0088;
    padding: 10px 80px;
    border-radius: 30px;
    border: 1px solid #FF0088;
    cursor: pointer;
}

.subscribe:hover {
    color: #000;
    svg {
        fill: #000;
    }
}

.subscribe>svg{
    width: 20px;
    margin-right: 10px;
    fill: #fff;
}

.subscribe span {
position: relative;
bottom: 5px;
}
/* end content 2 */

/* footer */
.blok {
    display: block;
}

footer {
    background-color: #202020;
    color: #fff;
}

footer p {
    font-size: 20px;
}

/* row 1 */
.f-1 {
    padding: 100px 0 40px;
}

.f-1 h3 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: bold;
}

.padd {
    padding: 70px 0 40px;
}

.p-05 {
    padding: 5px 0;
}
/* end row 1 */

/* row 2 */
.textc {
    text-align: center;
}

.textc li {
    padding: 8px 10px 3px;
    border-radius: 50%;
    background-color: gray;
}

.textc li .sosm {
    width: 25px;
}

.textc li.bg-s {
    padding: 7px 8px 0;
    position: relative;
    bottom: -3px;
}

.textc li.yt-li {
    padding: 8px 10px 1px;
    position: relative;
    bottom: -2px;
}

.textc li:hover {
    background-color: #FF0088;
    svg {
        fill: #000;
    }
}

.s {
    font-weight: 500;
    font-size: 20px;
    padding: 40px 0 70px;
}
/* end row 2 */
/* end footer */

/* for dekstop */
@media (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: row;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
}

/* for mobile */
@media (max-width: 600px) {
    .container {
        margin: 0 60px;
    }

    .rm {
        display: flex;
        flex-direction: row;
    }

    .cm {
        display: flex;
        flex-direction: column;
    }

    ul li.head {
        display: block;
    }

    .imgh {
        width: 40px;
        margin-top: 10px;
        margin-right: -15px;
    }

    .box {
        height: 400px;
        padding: 50px 0;
    }

    p.isi {
        width: 230px;
    }

    p.title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .box-img img {
        width: 200px;
        bottom: 60px;
        right: 5px;
    }

    .mcontent {
        margin-top: 120px;
    }

    .f-1 h3 {
        font-size: 40px;
    }
}
