/* font start */
@font-face /*perintah untuk memanggil font eksternal*/ {
  font-family: "Rubik_Glitch"; /*memberikan nama bebas untuk font*/
  src: url("fonts/Rubik_Glitch/RubikGlitch-Regular.ttf"); /*memanggil file font eksternalnya di folder nexa*/
}

@font-face {
  font-family: "Poppinsb";
  src: url("fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppinsr";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

header,
p.title {
  font-family: "Poppinsb";
}

.box {
  font-family: "Poppinsr";
}

h1 {
  font-family: "Rubik_Glitch";
}

/* font end*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 100px;
}

header {
  background-color: #ff0088;
  font-size: 48;
  padding: 15px 0;
}
/*Buat class row dan column, Kenapa gk make grid aja??*/
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

ul,
li {
  display: inline-block;
  padding-top: 2px;
}

.head {
  color: #fff;
}

li {
  margin-left: 35px;
}

li > svg {
  width: 20px;
}

.container img {
  width: 30px;
}

ul li span {
  margin-left: 10px;
  font-weight: bold;
}

.box {
  background-color: #202020;
  height: 400px;
  color: #fff;
  padding: 100px 0;
}

p.title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
}

p.isi {
  font-size: 19px;
  margin-bottom: 10px;
}

.column .button {
  display: inline-block;
}

.button button {
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.button .btn1 {
  color: #000;
  background-color: #ff0088;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  transition:
    all 1s,
    ease-in-out 100ms;
}
.btn1:hover {
  transform: scale(1.2);
  background: linear-gradient(0.3turn, #ff0088, #743ad5);
}
.button .btn2 {
  transition:
    all 1s,
    ease-in-out 100ms;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #ff0088;
  border-image-slice: 1;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.btn2:hover {
  transform: scale(1.2);
  border-image-source: linear-gradient(to left, #743ad5, #ff0088);
}
.box-img img {
  width: 450px;
  margin-left: 80px;
  position: absolute;
  top: 50px;
  right: 100px;
}

.center {
  justify-content: space-between;
}

.mcontent {
  margin-top: 80px;
}

.card {
  width: 350px;
  border: 1px solid #000;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.image {
  background-color: #ff0088;
  height: 150px;
  font-size: 72px;
  font-family: "Rubik_Glitch";
  text-align: center;
}
